
<div class="col-12 col-sm-6 col-md-4 col-lg-3 d-sm-flex card-container">
    <div class="card w-full mb-4">
        <div class="card-dynamic1">
			<a class="btn border-white btn-outline text-white" href="{{ courseurl }}" view="0">
				{{# courseinprogress }}
					<i class="fa fa-refresh" aria-hidden="true"></i> {{courseinprogress}}
				{{/ courseinprogress }}
				{{# coursetostart }}
					<i class="fa fa-play-circle" aria-hidden="true"></i> {{coursetostart}}
				{{/ coursetostart }}
				{{# coursecompleted }}
					<i class="fa fa-check" aria-hidden="true"></i> {{coursecompleted}}
				{{/ coursecompleted }}  
				{{# usercanmanage }}
					<i class="slicon-list"></i>  {{#str}} access, theme_moove {{/str}}
				{{/ usercanmanage }}
			</a>				
			<div class="h-200 rounded-lg" style="background-image: url('{{ courseimage }}');background-size: cover;background-position: center;">			
			</div>
		</div>
        <div class="card-dynamic2">
			{{# instructors }}
			<a href="{{ url }}" class="d-block teacher-block" style="position: absolute; top: 175px; right: 25px;" data-toggle="tooltip" title="{{ name }}">
				<img src="{{ picture }}" style="border: 2px solid white; cursor: pointer;" class="h-50 w-50 rounded-circle" alt="{{ name }}" />
			</a>
			{{/ instructors }}
			
			<div class="card-block {{# usercanmanage }}card-underlined{{/ usercanmanage }} p-0">
				<h4 class="card-title mt-3 font-weight-bold"><a href="{{ courseurl }}" class="font-weight-400 blue-grey-600 font-size-18">{{ coursename }}</a></h4>
				{{# courseinprogress }}
					<div class="progress progress-xs m-0 mb-3  w-p100" style="height: 5px">
						<div class="progress-bar bg-primary" style="width: {{percentage}}%;height: 5px" role="progressbar">
						</div>
					</div>				
				{{/ courseinprogress }}				
				<p class="card-text row"><span class="text-muted text-left col-md-10"><span class="text-primary">{{ categoryname }}  |</span> {{coursemodulescount}}</span> {{# tag }}<a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="{{tag.alt}}" class="col-md-2 text-course-icon text-right fa {{tag.icon}} fz-xl" alt="{{tag.alt}}"></a>{{/ tag }}</p>
			</div>
			

			{{^ mycourses}}
				{{# usercanmanage }}
					<div class="card-footer card-footer-transparent text-muted clearfix">

									
						<button type="button"
							class="custom-popover btn btn-rounded btn-sm float-right showoptions btn-outline-primary"
							data-toggle="popover" data-popover-target="#course-{{ courseid }}-options" data-popover-style="popover-primary">
							<i class="slicon-settings" aria-hidden="true"></i>
						</button>
						<div id="course-{{ courseid }}-options" class="hidden">
							<div class="toolbar-icons tool-items clearfix rounded-lg" hidden="">
								<a href="{{ enrollusers }}" class="btn btn-primary tool-item" title="{{# str }} enroluser, theme_remui {{/ str }}"><i class="slicon-user" aria-hidden="true"></i></a>
								<a href="{{ grader }}" class="btn btn-primary tool-item" title="{{# str }} graderreport, theme_remui {{/ str }}"><i class="slicon-star" aria-hidden="true"></i></a>
								<a href="{{ activity }}" class="btn btn-primary tool-item" title="{{# str }} activityeport, theme_remui {{/ str }}"><i class="slicon-pie-chart" aria-hidden="true"></i></a>
								<a href="{{ editcourse }}" class="btn btn-primary tool-item" title="{{# str }} editcourse, theme_remui {{/ str }}"><i class="slicon-pencil" aria-hidden="true"></i></a>
							</div>						
						</div>
									
								
	
					</div>
				{{/ usercanmanage }}
			{{/ mycourses}}
		</div>
    </div>
</div>