{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
<form action="{{searchurl}}" id="{{id}}" method="get" class="form-inline">
    <div class="form-group w-full">
        {{#mycourses}}
            <input type="hidden" name="mycourses" value="{{mycourses}}">  
        {{/mycourses}}
        {{#category}}
            <input type="hidden" name="categoryid" value="{{category}}">
        {{/category}}
        <div class="input-search w-full">
			<div class="input-group input-group-lg">
				<input aria-describedby="course-search" id="{{inputid}}" name="search" type="text" placeholder="{{#str}}searchcourses{{/str}}" size="{{inputsize}}" value="{{value}}" class="form-control mx-0">
				<div class="input-group-append">
					 <input type="submit" class="btn btn-primary fa" type="button" value="&#xf002"></input>
				</div>				
			</div>          
          </div>
    </div>
</form>
