$font-family-sans-serif: "Poppins", sans-serif, !default;

$navbar-header-color: #fff !default;

$headings-font-family: $font-family-sans-serif !default;
$headings-font-weight: 400 !default;
$headings-color: #495057 !default;

$body-bg: #fff !default;
$body-color: #212529 !default;
$card-border-radius: 0 !default;
$card-border-color: #d7dfe3 !default;

$navbar-height: 70px !default;
$navbar-bg: #1b1b1b !default;
$navbar-bg-hover: #40403f !default;
$navbar-separator: #647300 !default;
$navbar-toggle-drawer: #647300 !default;
$navbar-footer-drawer: #40403f !default;
$page-header-bg: #c5da3d !default;

$primary:       #cccc33 !default;
$success:       $primary !default;
$info:          #17a2b8 !default;
$warning:       #ffc107 !default;
$danger:        #dc3545 !default;

$calendarEventCategoryColor: #fc4b6c !default;
$calendarEventCourseColor: #7460ee !default;
$calendarEventGlobalColor: #1e88e5 !default;
$calendarEventGroupColor: #ffb22b !default;
$calendarEventUserColor: #222700 !default;

$m-login-padding: 10px;
$m-login-boxheight: 350px;
$m-card-padding: 1.25rem;
$m-moodle-color: #f98012 !default;
$m-facebook-color: #3b5998 !default;
$m-twitter-color: #55acee !default;
$m-youtube-color: #cc181e !default;
$m-googleplus-color: #d34836 !default;
$m-linkedin-color: #007bb5 !default;
$m-instagram-color: #8a3ab9 !default;
$m-whatsapp-color: #25d366 !default;

$carousel-control-color: #fff !default;
$carousel-control-prev-icon-bg: "data:image/svg+xml;charset=utf8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'#fff\' viewBox=\'0 0 8 8\'%3E%3Cpath d=\'M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z\'/%3E%3C/svg%3E" !default;
$carousel-control-next-icon-bg: "data:image/svg+xml;charset=utf8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'#fff\' viewBox=\'0 0 8 8\'%3E%3Cpath d=\'M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z\'/%3E%3C/svg%3E" !default;

//customized
$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-sm:                $font-size-base * .875 !default;
$font-size-md:                $font-size-base * 1.1 !default;
$font-size-xs:                $font-size-base * .575 !default;
$font-size-xl:                $font-size-base * 1.5 !default;

$coursemod-color: #ccffff !default;