{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{!
    @template format_remuiformat/card_general_section


    Example context (json):
    {
        "editing: "0",
        "defaultview: "1/0",
        "expanded: "1/0",
        "collapsed: "1/0",
        "user_id: "1",
        "course_id: "1",
        "generalsection": [
         {  
            "generalsectiontitle": "General Section Title",
            "activities": [
                {
                    "index": "index",
                    "id": "id",
                    "completion": "completion",
                    "viewurl": "viewurl",
                    "title": "title",
                    "modulename": "modulename",
                    "summary": "summary",
                    "completed": "completed",
                    "hidden": "hidden",
                    "availstatus": "availstatus",
                    "modicons": "modicons",
                }
            ],
            "generalsectionsummary": "General Section Summary",
         }
        ],
    }
}}

<div class="col-sm-12 col-lg-12 general-single-card-container m-b-2 mb-25 mb-4">
    <div class="general-single-card general-section-card-details p-x-1 p-y-1 px-5 py-10 p-3">
        <div class="row">
            <div class="generaldetails col-sm-12 col-md-6 col-lg-8 content pb-3 order-12 order-md-1">
                <h2 class="section-title pt-0 p-t-0">{{ title }}</h2>
                <div class='generalsectioninfo'>
                    {{{availability}}}
                    {{#fullsummary}}
                        <input type="checkbox" class="read-more-state" id="read-more-summary" />
                        <div class="read-more-target">{{{ fullsummary }}}</div>
                        <div class="fadeout-summary"></div>
                        <label for="read-more-summary" class=" text-primary small read-more-trigger"></label>
                    {{/fullsummary}}
                </div>
            </div>
            <div class="coursedetails col-sm-12 col-md-6 col-lg-4 order-1 order-md-12">
                <div class="row">
                    {{#coursemainimage}}
                        <div class="col-12 coursemainimagediv text-right d-none d-md-block mb-4">
                            <img src='{{coursemainimage}}' class='coursemainimage'>
                        </div>
                    {{/coursemainimage}}
                    <div class="col-12">
                        <h6 class="courseprogress mt-0 bold">{{#str}} coursecompletionprogress, format_remuiformat{{/str}}</h6>
                        {{#percentage}}
                            <div class="progress progress-rounded mb-4">
                                <div class="progress-bar bg-green-600" style="width: {{{percentage}}}%; height: 100%;" role="progressbar">
                                    <span class="sr-only">{{{percentage}}}% Complete</span>
                                </div>
                            </div>
                        {{/percentage}}
                        {{^percentage}}
                            <div class="progress progress-rounded mb-4">
                                <div class="progress-bar bg-gray-600" style="width: 0%; height: 100%;" role="progressbar">
                                    <span class="sr-only">{{{percentage}}}% Complete</span>
                                </div>
                            </div>
                        {{/percentage}}
                        <ul class="general-activities-list-group">
                            {{#activitylist}}
                                <li class="general-activities-list-group-item">{{ . }}</li>
                            {{/activitylist}}
                        </ul>
                    </div>
                    {{#resumeactivityurl}}
                        <div class="col-12 text-center mt-4">
                            <a class="btn btn-primary btn-block bold" href="{{{ resumeactivityurl }}}" role="button">{{#str}} resumetoactivity, format_remuiformat{{/str}}</a>
                        </div>
                    {{/resumeactivityurl}}
                </div>
            </div>
        </div>
        {{#activityexists}}
            <h4 class="activitieshead">{{#str}} generalactivities, format_remuiformat{{/str}}</h4>
        {{/activityexists}}
        <ul class="generalsecactivitiesmain row justify-content-start text-center showhidecardactivity">
            {{#activities}}
                <li class="activity first-section-activity generalsecactivities col-12 col-sm-6 col-md-4 col-lg-4 col-xlq-2 justify-content-center list-unstyled" id="module-{{id}}">
                    <div class="generalsecactivitiescontent">
                        {{#editing}}
                            {{{leftside}}}
                        {{/editing}}
                        {{! <div> }}
                            <div class="activityinstance p-0 d-inline-block">
                                {{{title}}}
                            </div>
                            <div class="actions">
                                {{{completion}}}
                            </div>
                            {{{availstatus}}}
                        {{! </div> }}
                    </div>
                </li>
            {{/activities}}
        </ul>
        <div class="text-center showactivitywrapper" style="display: none;">
            <span class="showactivity text-primary show" style="display: none;">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
        </div>  
    </div>
</div>
{{#js}}
require(['jquery'], function(jQuery) {

    // show hide extra activities in general/first section
    jQuery('.showactivity').on('click', function() {

        if(jQuery(this).hasClass('show')) {
            jQuery(this).html('<i class="fa fa-angle-up" aria-hidden="true"></i>');
            jQuery(this).toggleClass('show'); //Remove show class.
        } else {
            jQuery(this).html('<i class="fa fa-angle-down" aria-hidden="true"></i>');
            jQuery(this).toggleClass('show'); //Add show class.
            jQuery("html, body").animate({ scrollTop: 0 }, "slow");
        }
        jQuery('.generalsecactivitiesmain').toggleClass('showhidecardactivity');
    });

    showmorebutton();

    // Show load more button conditionally on window resize and load.
    function showmorebutton() {
        var wwidth = jQuery(window).width();
        var count = jQuery(".first-section-activity").length;
        // Show load more button conditionally on window load.
            if(wwidth > 1200) {
            if(count > 3) {
                jQuery('.showactivity').removeAttr( 'style' );
                jQuery('.showactivitywrapper').removeAttr( 'style' );
                }
            else {
                jQuery('.showactivity').css('display', 'none');
                jQuery('.showactivitywrapper').css('display', 'none');
                }
        } else if(wwidth > 991) {
            if(count > 3) {
                jQuery('.showactivity').removeAttr( 'style' );
                jQuery('.showactivitywrapper').removeAttr( 'style' );
                }
            else {
                jQuery('.showactivity').css('display', 'none');
                jQuery('.showactivitywrapper').css('display', 'none');
                }
        } else if(wwidth > 767 && wwidth < 992) {
            if(count > 2) {
                jQuery('.showactivity').removeAttr( 'style' );
                jQuery('.showactivitywrapper').removeAttr( 'style' );
                }
            else {
                jQuery('.showactivity').css('display', 'none');
                jQuery('.showactivitywrapper').css('display', 'none');
                }
        } else {
            if(count > 2) {
                jQuery('.showactivity').removeAttr( 'style' );
                jQuery('.showactivitywrapper').removeAttr( 'style' );
                }
            else {
                jQuery('.showactivity').css('display', 'none');
                jQuery('.showactivitywrapper').css('display', 'none');
                }
        }
    }
});
{{/js}}
