{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{!
    @template format_remuiformat/card_general_section_edit


    Example context (json):
    {
        "editing: "1",
        "defaultview: "1/0",
        "expanded: "1/0",
        "collapsed: "1/0",
        "user_id: "1",
        "course_id: "1",
        "generalsection": [
         {  
            "generalsectiontitle": "General Section Title",
            "activities": [
                {
                    "index": "index",
                    "id": "id",
                    "completion": "completion",
                    "viewurl": "viewurl",
                    "title": "title",
                    "modulename": "modulename",
                    "summary": "summary",
                    "completed": "completed",
                    "hidden": "hidden",
                    "availstatus": "availstatus",
                    "modicons": "modicons",
                }
            ],
            "generalsectionsummary": "General Section Summary",
         }
        ],
        "sections": [
            {
                "index": "1",
                "title": "Section Title",
                "singlepageurl": "Single Page URL",
                "hiddenmessage": "Hidden message",
                "summary": "Summary",
                "hidden": "1/0",
                "activityinfostring": "2 Files, 2 Quizzes"
                "sectionactivities" [
                    {
                        
                    }
                ] 
            }
        ]
    }
}}
<div class="cards col-lg-12 col-sm-12 general-single-card-container mb-25 mb-4">
    <div class="section general-single-card general-section-card-details px-5 px-3 pt-10 pt-2 p-x-1 p-y-1">
        <div class="row">
            <div class="generaldetails col-sm-12 col-lg-8 content pb-3 order-12 order-md-1 pb-10">
                <div class="left side">
                    {{{ leftsection }}}
                </div>
                <div class="right side">
                    {{{ optionmenu }}}
                </div>
                <h2 class="section-title">{{{ title }}}</h2>
                <div class='generalsectioninfo'>
                    {{{ availability }}}
                    {{#fullsummary}}
                        <input type="checkbox" class="read-more-state" id="read-more-summary" />
                        <div class="read-more-target">{{{ fullsummary }}}</div>
                        <div class="fadeout-summary"></div>
                        <label for="read-more-summary" class=" text-primary small read-more-trigger"></label>
                    {{/fullsummary}}
                </div>
                <a class="text-muted" href="{{ editsetionurl }}"><span><i class="fa fa-cog font-size-20" aria-hidden="true"></i></span></a>
            </div>
            <div class="coursedetails col-sm-12 col-lg-4 order-1 order-md-12">
                <div class="row">
                    {{#coursemainimage}}
                        <div class="col-12 coursemainimagediv text-right d-none d-md-block mb-4">
                            <img src='{{coursemainimage}}' class='coursemainimage'>
                        </div>
                    {{/coursemainimage}}
                    <div class="col-12">
                        {{#percentage}}
                        <h4 class="courseprogress mt-0">{{#str}} coursecompletionprogress, format_remuiformat{{/str}}</h4>
                        <div class="progress progress-rounded mb-4">
                            <div class="progress-bar bg-green-600" style="width: {{{percentage}}}%; height: 100%;" role="progressbar">
                                <span class="sr-only">{{{percentage}}}% Complete</span>
                            </div>
                        </div>
                        {{/percentage}}
                        <ul class="general-activities-list-group">
                            {{#activitylist}}
                                <li class="general-activities-list-group-item">{{ . }}</li>
                            {{/activitylist}}
                        </ul>
                    </div>
                    {{#resumeactivityurl}}
                        <div class="col-12 text-center mt-4">
                            <a class="btn btn-primary btn-block bold" href="{{{ resumeactivityurl }}}" role="button">{{#str}} resumetoactivity, format_remuiformat{{/str}}</a>
                        </div>
                    {{/resumeactivityurl}}
                </div>
            </div>
        </div>
        {{#activityexists}}
            <h4 class="activitieshead">{{#str}} generalactivities, format_remuiformat{{/str}}</h4>
        {{/activityexists}}
        <div class="content">
            <ul class="section first-section img-text d-flex row generalsecactivitiesmain justify-content-start text-center showhidecardactivity yui3-dd-drop" data-draggroups="resource">
                {{#activities}}
                    <li class="activity first-section-activity {{{modulename}}} modtype_{{{modulename}}} generalsecactivities col-12 col-sm-6 col-md-4 col-lg-4 col-xlq-2 justify-content-center list-unstyled yui3-dd-drop" id="module-{{id}}" data-draggroups="resource">
                        <div class="generalsecactivitiescontent">
                            <div>
                                <div class="activityinstance p-0 d-inline-block">
                                    {{{title}}}
                                    <span class="pl-10"><span class="editing_move moodle-core-dragdrop-draghandle" title="Move resource" tabindex="0" data-draggroups="resource" role="button" data-sectionreturn="0"><i class="icon fa fa-arrows fa-fw  iconsmall" aria-hidden="true" aria-label="" style="cursor: move;"></i></span></span>
                                </div>
                                <div class="actions">
                                    {{{completion}}}
                                    {{{modicons}}}
                                    {{{availstatus}}}
                                </div>
                            </div>
                        </div>
                    </li>
                {{/activities}}
            </ul>
        </div>

        <div class="text-center showactivitywrapper" style="display: none;">
            <span class="showactivity text-primary show" style="display: none;">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
        </div>
        {{{addnewactivity}}}
    </div>
</div>
{{#js}}
require(['jquery'], function(jQuery) {

        // change css for li after drag and drop
    
     // select the target node
      var target = document.querySelector('div.cards ul.first-section')
      // create an observer instance
      var observer = new MutationObserver(function(mutations) {
        {{! jQuery('div.cards ul.first-section').find('li.activity').attr('class', 'activity first-section-activity generalsecactivities col-6 col-sm-6 col-md-4 col-lg-3 col-xlq-2 justify-content-center yui3-dd-drop'); }}
        jQuery('div.cards ul.first-section').find('li.activity').addClass('activity first-section-activity generalsecactivities col-6 col-sm-6 col-md-4 col-lg-4 justify-content-center yui3-dd-drop');
        jQuery('div.cards ul.first-section').find('.activityinstance').attr('class', 'activityinstance p-0 d-inline-block');
        jQuery('div.cards ul.first-section').find('.mod-indent-outer').removeAttr('class');
        });
      // configuration of the observer:
      var config = { attributes: true, childList: true, characterData: true };
      // pass in the target node, as well as the observer options
      observer.observe(target, config);

    // show hide extra activities in general/first section
    jQuery('.showactivity').on('click', function() {

        if(jQuery(this).hasClass('show')) {
            jQuery(this).html('<i class="fa fa-angle-up" aria-hidden="true"></i>');
            jQuery(this).toggleClass('show'); //Remove show class
        } else {
            jQuery(this).html('<i class="fa fa-angle-down" aria-hidden="true"></i>');
            jQuery(this).toggleClass('show'); //Add show class
            jQuery("html, body").animate({ scrollTop: 0 }, "slow");
        }
        jQuery('.generalsecactivitiesmain').toggleClass('showhidecardactivity');
    });

    showmorebutton();

    // Show load more button conditionally on window resize and load.
    function showmorebutton() {
        var wwidth = jQuery(window).width();
        var count = jQuery(".first-section-activity").length;
        // Show load more button conditionally on window load.
            if(wwidth > 1200) {
            if(count > 3) {
                jQuery('.showactivity').removeAttr( 'style' );
                jQuery('.showactivitywrapper').removeAttr( 'style' );
                }
            else {
                jQuery('.showactivity').css('display', 'none');
                jQuery('.showactivitywrapper').css('display', 'none');
                }
        } else if(wwidth > 991) {
            if(count > 3) {
                jQuery('.showactivity').removeAttr( 'style' );
                jQuery('.showactivitywrapper').removeAttr( 'style' );
                }
            else {
                jQuery('.showactivity').css('display', 'none');
                jQuery('.showactivitywrapper').css('display', 'none');
                }
        } else if(wwidth > 767 && wwidth < 992) {
            if(count > 2) {
                jQuery('.showactivity').removeAttr( 'style' );
                jQuery('.showactivitywrapper').removeAttr( 'style' );
                }
            else {
                jQuery('.showactivity').css('display', 'none');
                jQuery('.showactivitywrapper').css('display', 'none');
                }
        } else {
            if(count > 2) {
                jQuery('.showactivity').removeAttr( 'style' );
                jQuery('.showactivitywrapper').removeAttr( 'style' );
                }
            else {
                jQuery('.showactivity').css('display', 'none');
                jQuery('.showactivitywrapper').css('display', 'none');
                }
        }
    }
});
{{/js}}
