{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{!
    @template format_remuiformat/list_general_section


    Example context (json):
    {
        "editing: "0",
        "defaultview: "1/0",
        "expanded: "1/0",
        "collapsed: "1/0",
        "user_id: "1",
        "course_id: "1",
        "generalsection": [
         {  
            "generalsectiontitle": "General Section Title",
            "activities": [
                {
                    "index": "index",
                    "id": "id",
                    "completion": "completion",
                    "viewurl": "viewurl",
                    "title": "title",
                    "modulename": "modulename",
                    "summary": "summary",
                    "completed": "completed",
                    "hidden": "hidden",
                    "availstatus": "availstatus",
                    "modicons": "modicons",
                }
            ],
            "generalsectionsummary": "General Section Summary",
         }
        ]
    }
}}
<style>
    div {
        --remuicourseimage: url({{{remuicourseimage}}});
    }
</style>
<li id="section-0" class="first-section-li section main clearfix mb-25 mb-4 m-b-2" role="region" aria-label="{{{generalsectiontitle}}}">
    <!--customized by alan-->
	<div class="">
        {{#percentage}}
            <div class="progress progress-square mb-0">
                <div class="progress-bar bg-green-600" style="width: {{{percentage}}}%; height: 100%;" role="progressbar">
                    <span class="sr-only">{{{percentage}}}% Complete</span>
                </div>
            </div>
        {{/percentage}}
    </div>

    <span class="hidden sectionname">{{{generalsectiontitle}}}</span>

    <div class="content">
        <div class="section_availability badge badge-pill badge-info mb-10"></div>
            <ul class="section first-section img-text row p-0 py-10 py-2 p-y-1 d-flex justify-content-start text-center showhideactivity">
                {{#activities}}
                    <li class="activity first-section-activity {{{modulename}}} modtype_{{{modulename}}} col-6 col-sm-6 col-md-4 col-lg-3 justify-content-center p-0 pt-10 pt-3" id="module-1">
                        <div>
                            {{#editing}}
                                {{{leftside}}}
                            {{/editing}}
                            <div>
                                <div class="activityinstance p-0 d-inline-block">
                                    {{{title}}}
                                </div>
                                <div class="actions">
                                    {{{completion}}}
                                </div>
                                {{{availstatus}}}
                            </div>
                        </div>
                    </li>
                {{/activities}}
            </ul>
            <div class="text-center showactivitywrapper" style="display: none;">
                <span class="showactivity text-primary show" style="display: none;">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </span>
            </div>
        </div>
</li>
{{#js}}
require(['jquery'], function(jQuery) {

    // show hide extra activities in general/first section
    jQuery('.showactivity').on('click', function() {
        jQuery('.section.first-section').toggleClass('showhideactivity');
        if(jQuery(this).hasClass('show')) {
            jQuery(this).html('<i class="fa fa-angle-up" aria-hidden="true"></i>');
            jQuery(this).toggleClass('show');
        } else {
            jQuery(this).html('<i class="fa fa-angle-down" aria-hidden="true"></i>');
            jQuery(this).toggleClass('show');
        }
    });

    showmorebutton();

    // Show load more button conditionally on window resize and load.
    function showmorebutton() {
        var wwidth = jQuery(window).width();
        var count = jQuery(".first-section-activity").length;

        // Show load more button conditionally on window load.
        if(wwidth > 991) {
            if(count > 4) {
                jQuery('.showactivity').removeAttr( 'style' );
                jQuery('.showactivitywrapper').removeAttr( 'style' );
                }
            else {
                jQuery('.showactivity').css('display', 'none');
                jQuery('.showactivitywrapper').css('display', 'none');
                }
        } else if(wwidth > 767 && wwidth < 992) {
            if(count > 3) {
                jQuery('.showactivity').removeAttr( 'style' );
                jQuery('.showactivitywrapper').removeAttr( 'style' );
                }
            else {
                jQuery('.showactivity').css('display', 'none');
                jQuery('.showactivitywrapper').css('display', 'none');
                }
        } else {
            if(count > 2) {
                jQuery('.showactivity').removeAttr( 'style' );
                jQuery('.showactivitywrapper').removeAttr( 'style' );
                }
            else {
                jQuery('.showactivity').css('display', 'none');
                jQuery('.showactivitywrapper').css('display', 'none');
                }
        }
    }
});
{{/js}}
