{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{!
    @template format_remuiformat/list_general_section_edit


    Example context (json):
    {
        "editing: "1",
        "defaultview: "1/0",
        "expanded: "1/0",
        "collapsed: "1/0",
        "user_id: "1",
        "course_id: "1",
        "generalsection": [
         {  
            "generalsectiontitle": "General Section Title",
            "activities": [
                {
                    "index": "index",
                    "id": "id",
                    "completion": "completion",
                    "viewurl": "viewurl",
                    "title": "title",
                    "modulename": "modulename",
                    "summary": "summary",
                    "completed": "completed",
                    "hidden": "hidden",
                    "availstatus": "availstatus",
                    "modicons": "modicons",
                }
            ],
            "generalsectionsummary": "General Section Summary",
         }
        ]
    }
}}
<li id="section-0" class="first-section-li section main clearfix mb-25 mb-4" role="region" aria-label="{{{generalsectiontitlename}}}">
   <div class="hidden px-5 py-10 px-3 p-x-1 py-2 p-y-1 course-cover-image" style="background-image: linear-gradient(to right, rgba(14, 35, 53, 0.68), rgba(14, 35, 53, 0.68)), url({{{remuicourseimage}}});">
    {{#rightside}}
    <div class="right side">
        {{{rightside}}}
    </div>
    {{/rightside}}
        <div class="text-white">
            <div class="page-title mb-15 wdm-generalsectiontitle">{{{generalsectiontitle}}}</div>
            <div class="font-size-14 summary">{{{ generalsectionsummary }}}</div>
        </div>
        <div class="text-white mb-10 m-b-1 d-flex" style="justify-content: flex-end;">
            {{#teachers}}
                {{{teacherimg}}}
            {{/teachers}}
        </div>
        {{#percentage}}
            <div class="progress progress-square mb-0">
                <div class="progress-bar bg-green-600" style="width: {{{percentage}}}%; height: 100%;" role="progressbar">
                    <span class="sr-only">{{{percentage}}}% Complete</span>
                </div>
            </div>
        {{/percentage}}
   </div>

   <span class="hidden sectionname">{{{generalsectiontitlename}}}</span>

   <div class="content hidden">
    <div class="section_availability badge badge-pill badge-info mb-10"></div>
        <ul class="section first-section img-text row p-0 py-10 py-2 p-y-1 d-flex justify-content-start text-center showhideactivity">
            {{#activities}}
                <li class="activity first-section-activity {{{modulename}}} modtype_{{{modulename}}} col-6 col-sm-6 col-md-4 col-lg-3 justify-content-center p-0 pt-10 yui3-dd-drop yui3-dd-draggable" id="module-{{id}}">
                    <div>
                        <div>
                            <div class="activityinstance p-0 d-inline-block">
                            {{{title}}}
                            <span class="pl-10"><span class="editing_move moodle-core-dragdrop-draghandle" title="Move resource" tabindex="0" data-draggroups="resource" role="button" data-sectionreturn="0"><i class="icon fa fa-arrows fa-fw  iconsmall" aria-hidden="true" aria-label="" style="cursor: move;"></i></span></span>
                            </div>
                            <div class="actions">
                            {{{completion}}}
                            {{{modicons}}}
                            {{{availstatus}}}
                            </div>
                        </div>
                    </div>
                </li>
            {{/activities}}
        </ul>
    <div class="text-center showactivitywrapper">
        <span class="showactivity text-primary show" style="visibility: hidden;">
            <i class="fa fa-angle-down" aria-hidden="true"></i>
        </span>
    </div>
    {{{addnewactivity}}}
   </div>
</li>


{{#js}}
require(['jquery'], function(jQuery) {

     // change css for li after drag and drop
    
     // select the target node
      var target = document.querySelector('ul.remui-format-list ul.first-section')
      // create an observer instance
      var observer = new MutationObserver(function(mutations) {
        {{! jQuery('ul.remui-format-list ul.first-section').find('li.activity').attr('class', 'activity first-section-activity forum modtype_forum col-6 col-sm-6 col-md-4 col-lg-3 justify-content-center p-0 pt-10 pt-2 yui3-dd-drop yui3-dd-draggable'); }}
        jQuery('ul.remui-format-list ul.first-section').find('.activityinstance').attr('class', 'activityinstance p-0 d-inline-block');
        jQuery('ul.remui-format-list ul.first-section').find('.mod-indent-outer').removeAttr('class');
        });
      // configuration of the observer:
      var config = { attributes: true, childList: true, characterData: true };
      // pass in the target node, as well as the observer options
      observer.observe(target, config);

    // show hide extra activities in general/first section
    jQuery('.showactivity').on('click', function() {
        jQuery('.section.first-section').toggleClass('showhideactivity');
        if(jQuery(this).hasClass('show')) {
            jQuery(this).html('<i class="fa fa-angle-up" aria-hidden="true"></i>');
            jQuery(this).toggleClass('show');
        } else {
            jQuery(this).html('<i class="fa fa-angle-down" aria-hidden="true"></i>');
            jQuery(this).toggleClass('show');
        }
    });

    showmorebuttonedit();

    // Show load more button conditionally on window resize and load.
    function showmorebuttonedit() {
        var wwidth = jQuery(window).width();
        var count = jQuery(".first-section-activity").length;

        // Show load more button conditionally on window load.
        if(wwidth > 991) {
            if(count > 4) {
                jQuery('.showactivity').removeAttr( 'style' );
                jQuery('.showactivitywrapper').removeAttr( 'style' );
                }
            else {
                jQuery('.showactivity').css('display', 'none');
                jQuery('.showactivitywrapper').css('display', 'none');
                }
        } else if(wwidth > 767 && wwidth < 992) {
            if(count > 3) {
                jQuery('.showactivity').removeAttr( 'style' );
                jQuery('.showactivitywrapper').removeAttr( 'style' );
                }
            else {
                jQuery('.showactivity').css('display', 'none');
                jQuery('.showactivitywrapper').css('display', 'none');
                }
        } else {
            if(count > 2) {
                jQuery('.showactivity').removeAttr( 'style' );
                jQuery('.showactivitywrapper').removeAttr( 'style' );
                }
            else {
                jQuery('.showactivity').css('display', 'none');
                jQuery('.showactivitywrapper').css('display', 'none');
                }
        }
    }
});

{{/js}}

