{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{!
    @template format_remuiformat/list_all_sections


    Example context (json):
    {
        "generalsection": "1/0",
        "sections": "1/0",
        "editing": "1/0",
        "addsection": "addsection",
        "addnewactivity": "1/0",
        "leftnav": "1/0",
        "rightnav": "1/0",
        "course_id": "course_id"
        "user_id": "user_id"
        "defaultview": "defaultview"
        "index": "index"
    }
}}

{{#editing}}
    <ul class="remui-format-list">
        {{! Display General Section }}
        {{#generalsection}}
            {{> format_remuiformat/list_general_section_edit }}
        {{/generalsection}}
        {{! Display Remaining Section }}
        {{#sections}}
            {{> format_remuiformat/list_sections }}
        {{/sections}}
        {{{ addsection }}}
    </ul>
{{/editing}}
{{^editing}}
	<!--customized by alan-->
	<div class="row course-page-alan">
	
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-6">
					<h4>Items Completed</h4>
					<div class="text-muted mt-4">{{custom.items}} items</div>
					<div class="progress ml-0 progress-square mb-0 mt-2">
						<div class="progress-bar bg-primary" style="width: {{{custom.percentage}}}%; height: 100%;" role="progressbar">
							<span class="sr-only">{{{custom.percentage}}}% Complete</span>
						</div>
					</div>			
				</div>
				<div class="col-md-6">
					<h4>Course Results</h4>
					<div class="text-muted mt-4">{{custom.percentage}}% 
						{{#custom.progress_status}}
							<span class="bg-dark progress-status fz-xs">Completed</span>
						{{/custom.progress_status}}
						{{^custom.progress_status}}
							<span class="bg-dark progress-status fz-xs">In Progress</span>
						{{/custom.progress_status}}
					</div>
					<div class="progress ml-0 progress-square mb-0 mt-2">
						<div class="progress-bar bg-primary" style="width: {{{custom.percentage}}}%; height: 100%;" role="progressbar">
							<span class="sr-only">{{{custom.percentage}}}% Complete</span>
						</div>
					</div>			
				</div>	
				{{#custom.remaining_date}} 
				<div class="col-md-12">
					<div class="my-4">
						<span class="bg-dark progress-status">Enrolled</span> <span class="text-muted">You have {{custom.remaining_date}} days remaining for the coure.</span>
					</div>
				</div>
				{{/custom.remaining_date}}	
			</div>			
			<ul class="nav nav-tabs my-4" role="tablist">
				{{#custom.course.summary}}
					<li class="nav-item {{#custom.course.summary}}active{{/custom.course.summary}}"><a class="nav-link {{#custom.course.summary}}active{{/custom.course.summary}}" href="#overview" data-toggle="tab" role="tab">Overview</a></li>
				{{/custom.course.summary}}
				<li class="nav-item {{^custom.course.summary}}active{{/custom.course.summary}}"><a class="nav-link {{^custom.course.summary}}active{{/custom.course.summary}}" href="#curriculum" data-toggle="tab" role="tab">Curriculum</a></li>
				<li class="nav-item"><a class="nav-link" href="#instructor" data-toggle="tab" role="tab">Instructor</a></li>
			</ul>	
			<div class="tab-content mt-3">
				{{#custom.course.summary}}
					<div class="tab-pane {{#custom.course.summary}}active{{/custom.course.summary}}" id="overview" role="tabpanel">
						<h2>Course Description</h2>
						<p>{{{custom.course.summary}}}</p>
					</div>
				{{/custom.course.summary}}
				<div class="tab-pane {{^custom.course.summary}}active{{/custom.course.summary}}" id="curriculum" role="tabpanel">
					<ul class="remui-format-list">
						{{! Display General Section }}
						{{! Display Remaining Section }}
						{{#sections}}
							{{> format_remuiformat/list_sections }}
						{{/sections}}
					</ul>
				</div>	
				{{#custom.teachers}}
				<div class="tab-pane" id="instructor" role="tabpanel">
					{{#custom.teachers}}
					<div class="row">
						<div class="col-md-4">
							<img src="{{picture}}" style="width: 100%"/>
						</div>
						<div class="col-md-8">
							<h4>{{name}}</h4>
							{{{description}}}
						</div>
					</div>
					{{/custom.teachers}}
				</div>
				{{/custom.teachers}}
			</div>	
		</div>
		<div class="col-md-4">
			<div class="course-info-alan p-4">		
				<ul>
					{{#custom.teachers}}
						<li class="p-3"><i class="slicon-user"></i> Instructor <span class="text-right float-right text-muted">{{name}}</span></li>
					{{/custom.teachers}}
					{{#custom.remaining_date}}
						<li class="p-3"><i class="slicon-clock"></i> Duration <span class="text-right float-right text-muted">{{custom.remaining_date}}</span></li>
					{{/custom.remaining_date}}
					{{#custom.enrolled}}
						<li class="p-3"><i class="slicon-user-following "></i> Enrolled <span class="text-right float-right text-muted">{{custom.enrolled}}</span></li>
					{{/custom.enrolled}}
					{{#custom.deadline}}
						<li class="p-3"><i class="slicon-calendar"></i> Deadline <span class="text-right float-right text-muted">{{custom.deadline}}</span></li>
					{{/custom.deadline}}
				</ul>
				{{#custom.bbb}}
					{{{custom.bbb}}}
				{{/custom.bbb}}				
			</div>
		</div>
	</div>
    {{#js}}
      require(['jquery', 'core/storagewrapper'], function(jQuery, StorageWrapper) {
          // Moodle localstorage wrapper.
          var edstorage = new StorageWrapper(window.localStorage);
			
          // save the current choice by admin - expanded or collapsed
          var formatlabel = {{{ course_id }}} + '_' + {{{ user_id }}} + '_defaultview';
          var userformat = localStorage.getItem(formatlabel);
          // alert(userformat);
          if(userformat == null) {
            localStorage.setItem(formatlabel, {{{ defaultview }}});
          }
          else {
            // the user's last format and the current format do not match, reset user data
            if(userformat != {{{ defaultview }}}) {
            {{#sections}}
              var namelocal  = 'section-'+ {{{ index }}} + '_' + {{{ course_id }}} + '_' + {{{ user_id }}};
              localStorage.removeItem(namelocal);
            {{/sections}}
            localStorage.setItem(formatlabel, {{{ defaultview }}});
            }
            else {
              // current format and the user's format are the same
              jQuery('body#page-course-view-remuiformat ul.remui-format-list a.panel-title').each(function(){
                var section_id = jQuery(this).parent().parent().parent().attr('id');
                var namelocal  = section_id + '_' + {{{ course_id }}} + '_' + {{{ user_id }}};
                var ed_sectionstate  = section_id + '_' + {{{ course_id }}} + '_' + {{{ user_id }}};

                {{#expanded}}
                  if(localStorage.getItem(namelocal) == 'false'){
                    // Change arrow.
                    if (edstorage.get(ed_sectionstate) == 'collapsed' ) {
                      jQuery(this).find('i').toggleClass('fa-angle-up');
                      jQuery(this).find('i').toggleClass('fa-angle-down');
                      jQuery(this).parent().parent().find('.card-footer').removeClass('show');
                      jQuery(this).parent().parent().find('.card-footer').addClass('collapse');
                      jQuery(this).parent().parent().find('.summary').show(500);
                      {{! jQuery(this).parent().parent().find('.section-summary-activities').show(500); }}
                    } else {
                      jQuery(this).parent().parent().find('.card-footer').removeClass('collapse');
                      jQuery(this).parent().parent().find('.card-footer').addClass('show');
                      {{! jQuery(this).parent().parent().find('.section-summary-activities').hide(500); }}
                      jQuery(this).parent().parent().find('.summary').show(500);
                    }
                  }
                {{/expanded}}
                {{#collapsed}}
                  if(localStorage.getItem(namelocal) == 'true'){
                    if (edstorage.get(ed_sectionstate) == 'expanded' ) {
                      jQuery(this).find('i').toggleClass('fa-angle-down');
                      jQuery(this).find('i').toggleClass('fa-angle-up');
                      jQuery(this).parent().parent().find('.card-footer').removeClass('collapse');
                      jQuery(this).parent().parent().find('.card-footer').addClass('show');
                      jQuery(this).parent().parent().find('.summary').show(500);
                      {{! jQuery(this).parent().parent().find('.section-summary-activities').hide(500); }}
                    } else {
                      jQuery(this).parent().parent().find('.card-footer').removeClass('show');
                      jQuery(this).parent().parent().find('.card-footer').addClass('collapse');
                      jQuery(this).parent().parent().find('.summary').show(500);
                      {{! jQuery(this).parent().parent().find('.section-summary-activities').show(500); }}
                    }
                  }
                {{/collapsed}}
              });
            }
          }
          
          var section_state = {};
          jQuery('body#page-course-view-remuiformat ul.remui-format-list a.panel-title').click(function(){
              jQuery(this).find('i').toggleClass('fa-angle-down');
              jQuery(this).find('i').toggleClass('fa-angle-up');
              var section_id = jQuery(this).parent().parent().parent().attr('id');
              
              var namelocal  = section_id + '_' + {{{ course_id }}} + '_' + {{{ user_id }}};
              var ed_sectionstate  = section_id + '_' + {{{ course_id }}} + '_' + {{{ user_id }}};
              
              jQuery(this).parent().parent().find('.summary').show(500);
              if(jQuery(this).find('.float-right').hasClass('fa-angle-down')) {
                  sectionstate = 'collapsed';
                  localStorage.setItem(namelocal, 'false');
                  jQuery(this).parent().parent().find('.card-footer').removeClass('show');
                  jQuery(this).parent().parent().find('.card-footer').addClass('collapse');
                  jQuery(this).parent().parent().find('.summary').show(500);
                  {{! jQuery(this).parent().parent().find('.section-summary-activities').show(500); }}
              } else {
                  sectionstate = 'expanded';
                  localStorage.setItem(namelocal, 'true');
                  jQuery(this).parent().parent().find('.card-footer').removeClass('collapse');
                  jQuery(this).parent().parent().find('.card-footer').addClass('show');
                  jQuery(this).parent().parent().find('.summary').show(500);
                  {{! jQuery(this).parent().parent().find('.section-summary-activities').hide(500); }}
              }
              edstorage.set(ed_sectionstate, sectionstate);
          });
      });
    {{/js}}
{{/editing}}
{{#editing}}
    {{#js}}
      require(['jquery'], function(jQuery) {
          jQuery('.remui-format-list .card-title .float-right').click(function(){
              var iconparent = jQuery(this).parent();
              console.log(iconparent);
              jQuery(iconparent).find('.float-right').toggleClass('fa-angle-down');
              jQuery(iconparent).find('.float-right').toggleClass('fa-angle-up');
              var section_id = jQuery(iconparent).parent().parent().parent().attr('id');
              var namelocal  = section_id + '_' + {{{ course_id }}} + '_' + {{{ user_id }}};
              localStorage.setItem(namelocal, 'true');
              jQuery(iconparent).parent().find('.summary').show(500);
              if(jQuery(iconparent).find('.float-right').hasClass('fa-angle-down')) {
                  jQuery(iconparent).parent().find('.card-footer').removeClass("show");
                  jQuery(iconparent).parent().find('.card-footer').addClass("collapse");
                  jQuery(iconparent).parent().find('.summary').show(500);
                  {{! jQuery(iconparent).parent().find('.section-summary-activities').show(500); }}
              } else {
                  jQuery(iconparent).parent().find('.card-footer').removeClass('collapse');
                  jQuery(iconparent).parent().find('.card-footer').addClass("show");
                  jQuery(iconparent).parent().find('.summary').show(500);
                  {{! jQuery(iconparent).parent().find('.section-summary-activities').hide(500); }}
              }
          });
      });
    {{/js}}
{{/editing}}
