{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{!
    @template format_remuiformat/list_sections


    Example context (json):
    {
      "sections": [
         {
            "index": "1",
            "title": "Section Title",
            "singlepageurl": "Single Page URL",
            "hiddenmessage": "Hidden message",
            "hidden": "1/0",
            "summary": "Summary",
            "activityinfostring": "2 Files, 2 Quizzes"
            "sectionactivities" [
               {
                     
               }
            ] 
         }
      ]
   }
}}
{{#addsection}}
<li id="{{divid}}" class="card main clearfix mb-4 m-b-2" role="region" style="">
   <!--customized by alan-->
   <div class="content card-block px-0 py-10 pt-2 pb-0 remui-list-content-border d-flex align-items-center " style="clear:both;">
      {{#numsections}}
         <a href="{{{addurl}}}" class="{{addurlclass}}">{{{addicon}}} {{{straddsection}}}</a>

         {{#strremovesection}}
         <a href="{{{removeurl}}}" class="{{removeurlclass}}">{{{removeicon}}} {{{strremovesection}}}</a>
         {{/strremovesection}}
      {{/numsections}}

      {{^numsections}}
         <a href="{{{url}}}" data-add-sections="{{{straddsections}}}">{{{icon}}} {{{straddsections}}}</a>
      {{/numsections}}
   </div>
</li>
{{/addsection}}

{{^addsection}}
<li id="section-{{{index}}}" class="card section main clearfix mb-4 m-b-2 wdm-card" role="region" style="" aria-label="">
   {{#highlighted}}<div class="list-current moodle-has-zindex bg-primary"></div>{{/highlighted}}
   <span class="hidden sectionname">{{{ title }}}</span>
   <!--customized by alan-->
   <div class="content card-block px-0 py-10 pt-2 pb-0 remui-list-content-border" style="clear:both;">
      <div class="row d-block">
        <div class="left side float-left">
          {{{ leftside }}}
        </div>
         <div class="right side float-right d-flex">
           {{{ addnewsection }}}
           {{{ optionmenu }}}
         </div>
         {{{leftside}}}
      </div>
	   <!--customized by alan-->
      <h4 class="sectionname card-title px-5 px-3 pt-10 pt-3 pb-3">
        {{#editing}}
            {{{ title }}}
         {{/editing}}
         {{^editing}}
            <a class="panel-title p-0 {{#expanded}}true{{/expanded}}" data-toggle="collapse" href="#sectionwrapper-{{{index}}}" aria-expanded="{{#collapsed}}false{{/collapsed}}{{#expanded}}true{{/expanded}}" aria-controls="sectionwrapper-{{{index}}}">{{{ title }}}
            {{/editing}}
               {{#collapsed}}
               <i class="fa fa-angle-down float-right"></i>
               {{/collapsed}}
               {{#expanded}}
               <i class="fa fa-angle-up float-right"></i>
               {{/expanded}}
               {{^editing}}
                  {{#progressinfo}}
                     {{#completed}}
                        <!-- Default checked -->
                        <div class="float-right pr-10">
                           <i class="fa fas fa-check-square text-success"></i>
                           <!-- {{{ progress }}} -->
                        </div>
                     {{/completed}}
                  {{/progressinfo}}
               {{/editing}}
			  {{#progressinfo}}
			  <div class="float-right fz-sm pt-1 text-gray-600 pr-2">
				{{{progresstotal}}}
			  </div>
			  <div class="float-right pr-2 col-md-2">
					<!-- Default checked -->
					<div class="progress ml-0 progress-square mb-0 mt-2 ">
						<div class="progress-bar bg-primary" style="width: {{{percentage}}}%; height: 100%;" role="progressbar">
							<span class="sr-only">{{{percentage}}}% Complete</span>
						</div>
						
					</div>
			  </div>
			  {{/progressinfo}}			   
            </a>
      </h4>
      {{{ hiddenmessage }}}
	   <!--customized by alan-->
      <div class="summary card-text px-5 px-3 font-italic">{{{summary}}}</div>
      <div class="section_availability badge badge-pill badge-info mb-10">{{{availability}}}</div>
      
	  <!--customized by alan-->
	  <div class="p-0 card-footer card-footer-transparent text-muted border-top {{#collapsed}}collapse{{/collapsed}}{{#expanded}}show{{/expanded}}">
         {{{sectionactivities}}}
      </div>
   </div>
   <span class="hidden sectionname">{{{ title }}}</span>
</li>
{{/addsection}}
