{{!
    @template theme_remui/block

    Example context (json):
    {
        "id": "block0",
        "showskiplink": true,
        "type": "html",
        "ariarole": "complementary",
        "title": "Test block",
        "blockinstanceid": 1,
        "content": "<p>Hello block world!</p>"
    }

}}
{{! Block Skip Link }}
{{#showskiplink}}
  <!-- <a href="#sb-{{skipid}}" class="sr-only sr-only-focusable">{{#str}}skipa, access, {{title}}{{/str}}</a> -->
{{/showskiplink}}

{{! Start Block Container }}
<section id="{{id}}"
     class="{{#hidden}}hidden{{/hidden}} block block_{{type}} page-aside-section {{#hascontrols}}block_with_controls{{/hascontrols}} card m-b-1"
     role="{{ariarole}}"
     data-block="{{type}}"
     {{#arialabel}}
        aria-label={{#quote}}{{{arialabel}}}{{/quote}}
     {{/arialabel}}
     {{^arialabel}}
        {{#title}}
          aria-labelledby="instance-{{blockinstanceid}}-header"
        {{/title}}
     {{/arialabel}}>

    {{! Block header }}
    {{#title}}
        {{#hascontrols}}
            <div class="block-controls float-right header pr-25">
                {{{controls}}}
            </div>
        {{/hascontrols}}
        <h5 id="instance-{{blockinstanceid}}-header" class="page-aside-title px-20 m-0">{{{title}}}</h5>
    {{/title}}

    {{! Block contents }}
    <div class="px-20 mt-10">
        <div class="card-text content">
            {{{content}}}
            <div class="footer">{{{footer}}}</div>
            {{{annotation}}}
        </div>
    </div>

{{! End Block Container }}
</section>

{{! Block Skip Link Target }}
{{#showskiplink}}
  <!-- <span id="sb-{{skipid}}"></span> -->
{{/showskiplink}}
