{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_moove/columns2

    Admin time setting template.

    Moove 2 column layout template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * navdraweropen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "hasblocks":true,
        "navdraweropen":true,
        "sidepreopen":true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false
    }
}}
    {{>theme_moove/inc_start}}

    <div id="page" class="container-fluid">
        {{{ output.full_header }}}

        <div id="page-content" class="row">
            <div id="region-main-box" class="col-12">
                {{#hasregionmainsettingsmenu}}
                    <div id="region-main-settings-menu" class="d-print-none">
                        <div> {{{ output.region_main_settings_menu }}} </div>
                    </div>
                {{/hasregionmainsettingsmenu}}
                <section id="region-main" class="course-category-main">

					{{#hasregionmainsettingsmenu}}
						<div class="region_main_settings_menu_proxy"></div>
					{{/hasregionmainsettingsmenu}}
					{{{ output.course_content_header }}}
					
					{{{ output.main_content }}}
					
					
					<div class="row search-filters">
						<!-- <div class="col-12"> -->
							
							<div class="col-12 col-md-4 col-lg-3 d-inline-block pb-20">
								{{{ categoryfilter }}}
							</div>

							<div class="col-12 col-md-8 col-lg-9 d-inline-block pb-20">
								{{{ searchfilter }}}
							</div>
						<!-- </div> -->
					</div>

					<div class="row">
					{{# hascourses }}
						{{# courses }}
							{{> theme_moove/customized/course_card }}
						{{/ courses }}
					{{/ hascourses }}

					{{^ hascourses }}
						<div class="col-12">{{#str}} nocoursesavail, theme_remui {{/str}}</div>
					{{/ hascourses }}
					</div>

					<div class="row">
						<div class="col-12">
						{{{ pagination }}}
						</div>
					</div>	
					
					{{{ output.course_content_footer }}}


                    {{{ output.activity_navigation }}}
                </section>
            </div>
        </div>
    </div>

    {{>theme_moove/inc_end}}
