{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_remui/columns2

    Admin time setting template.

    Boost 2 column layout template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * navdraweropen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "hasblocks":true,
        "navdraweropen":true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false
    }
}}
{{> theme_remui/common_start }}

        <div class="page-main">
        <div class="container">
            {{{ output.full_header }}}
            <div class="page-content">
                <div id="region-main-box">
                    {{#hasregionmainsettingsmenu}}
                        <div id="region-main-settings-menu" class="hidden-print {{#hasblocks}}has-blocks{{/hasblocks}}">
                            <div> {{{ output.region_main_settings_menu }}} </div>
                        </div>
                    {{/hasregionmainsettingsmenu}}

                    <section id="region-main" class="float-none">
                        {{#hasregionmainsettingsmenu}}
                            <div class="region_main_settings_menu_proxy"></div>
                        {{/hasregionmainsettingsmenu}}

                        {{{ output.course_content_header }}}
                        {{{ output.main_content }}}
                        {{{ output.course_content_footer }}}
                    </section>
                </div>
            </div>
        </div>
        </div>
    {{> theme_remui/common_end }}

{{#js}}
require(['theme_remui/loader'], function () {
    Breakpoints();

    // show hide extra activities in general/first section
    jQuery('.showactivity').on('click', function() {
        jQuery('.section.first-section').toggleClass('showhideactivity');
        if(jQuery(this).hasClass('show')) {
            jQuery(this).text('{{# str }} showless, theme_remui {{/ str }}');
            jQuery(this).toggleClass('show');
        } else {
            jQuery(this).text('{{# str }} showmore, theme_remui {{/ str }}');
            jQuery(this).toggleClass('show');
        }
    });

    // show load more button conditionally
    jQuery(window).resize(function(){
        var wwidth = jQuery(window).width();
        var count = jQuery(".first-section-activity").length;

        if(wwidth > 991) {
            if(count > 6)
                jQuery('.showactivity').css('visibility', 'visible');
            else
                jQuery('.showactivity').css('visibility', 'hidden');
        } else if(wwidth > 767 && wwidth < 992) {
            if(count > 3)
                jQuery('.showactivity').css('visibility', 'visible');
            else
                jQuery('.showactivity').css('visibility', 'hidden');
        } else {
            if(count > 2)
                jQuery('.showactivity').css('visibility', 'visible');
            else
                jQuery('.showactivity').css('visibility', 'hidden');
        }
    });

    jQuery('body#page-course-view-topics div.panel-heading a.panel-title, body#page-course-view-weeks div.panel-heading a.panel-title').click(function(){
        jQuery(this).find('i').toggleClass('fa-angle-down');
        jQuery(this).find('i').toggleClass('fa-angle-up');
    });

});
{{/js}}
