{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
<form action="{{searchurl}}" id="{{id}}" method="get" class="form-inline">
    <div class="form-group coursesearchbox invisiblefieldset">
        {{#mycourses}}
            <input type="hidden" name="mycourses" value="{{mycourses}}">  
        {{/mycourses}}
        {{#category}}
            <input type="hidden" name="categoryid" value="{{category}}">
        {{/category}}
        <div class="input-search w-full w-md-auto">
            <i class="input-search-icon wb-search" aria-hidden="true"></i>
            <input id="{{inputid}}" name="search" type="text" placeholder="{{#str}}searchcourses{{/str}}" size="{{inputsize}}" value="{{value}}" class="form-control h-40 w-full w-md-auto">
            
            <div class="input-group-btn d-inline-block hidden-sm-down">
                <button class="btn btn-primary btn-lg px-25 font-weight-500 font-size-14 h-40" type="submit">{{#str}}go{{/str}}</button>
            </div>
        </div>
    </div>
</form>
