{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_remui/columns2

    Admin time setting template.

    Boost 2 column layout template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * navdraweropen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "hasblocks":true,
        "navdraweropen":true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false
    }
}}
{{> theme_remui/common_start }}

        <div class="page-main bg-white">

            {{# slider }}
            
            {{# isslider }}
            <!-- slider -->
            <div class="carousel slide mb-50" id="CarouselCaptions" data-interval="{{ slideinterval }}" data-ride="carousel">
                <ol class="carousel-indicators">
                    {{# slides }}
                        <li data-slide-to="{{count}}" data-target="#CarouselCaptions" class="{{#active}}active{{/active}}"></li>
                    {{/ slides}}
                </ol>

                <div class="carousel-inner" role="listbox">
                    {{# slides }}
                      <div class="carousel-item align-items-center {{#active}}active{{/active}}">
                        <!-- <div class="fill" style="background-image:url({{ img }}); background-position: center; background-size: cover;"></div> -->
                        <img class="d-block img-fluid" alt="Image {{count}}" src="{{ img }}" data-holder-rendered="true">
                        <div class="carousel-caption">
                          {{{ img_txt }}}
                          {{# btn_txt }}
                            <p><a href="{{ btn_link }}" class="btn btn-primary mt-10">{{{ btn_txt }}}</a></p>
                          {{/ btn_txt }}
                        </div>
                      </div>
                    {{/ slides }}
                  
                    <a class="carousel-control-prev" href="#CarouselCaptions" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon wb-chevron-left" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#CarouselCaptions" role="button" data-slide="next">
                      <span class="carousel-control-next-icon wb-chevron-right" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <!-- slider ends -->
            {{/ isslider }}

            {{# isimage }}
                <div class="mb-50">
                    <img class="w-full img-fluid" src="{{staticimage}}" />
                </div>
            {{/ isimage }}

            {{# isvideo }}
                <div class="mb-50 w-p100 h-300 h-md-400 h-lg-500">
                    <iframe width="100%" height="100%" src="{{ video }}" frameborder="0" allowfullscreen></iframe>
                </div>
            {{/ isvideo }}

            {{/ slider }}

            <div class="page-content py-0">
                <div class="container mb-40">
                    {{{! output.full_header }}}
                    <div class="row">

                            {{# marketing_heading }}<h4>{{ marketing_heading }}</h4>{{/ marketing_heading }}
                            {{# marketing_desc }} {{{ marketing_desc }}} {{/ marketing_desc }}

                    </div>
                </div>

                <!-- main content -->
                <div class="container-wrapper bg-grey-100 pt-10">
                    <div class="container">
                        <div id="region-main-box">
                            {{#hasregionmainsettingsmenu}}
                                <div id="region-main-settings-menu" class="hidden-print {{#hasblocks}}has-blocks{{/hasblocks}}">
                                    <div> {{{ output.region_main_settings_menu }}} </div>
                                </div>
                            {{/hasregionmainsettingsmenu}}

                            <section id="region-main" class="float-none">
                                {{#hasregionmainsettingsmenu}}
                                    <div class="region_main_settings_menu_proxy"></div>
                                {{/hasregionmainsettingsmenu}}

                                {{{ output.course_content_header }}}
                                {{{ output.main_content }}}
                                {{{ output.course_content_footer }}}
                            </section>
                        </div>
                    </div>
                </div>
                <!-- main content ends -->

                <!-- about us -->
                {{# testimoniallist }}
                <div class="container">
                    <div class="row {{^ both }}justify-content-center{{/ both }}">

                        {{# both }}
                            <div class="col-12 col-md-7 col-lg-6 mt-lg-30 aboutus-heading">
                                {{# aboutus_heading }}<h3>{{ aboutus_heading }}</h3>{{/ aboutus_heading }}
                                {{# aboutus_desc }} {{{ aboutus_desc }}} {{/ aboutus_desc }}
                            </div>
                            <div class="col-12 col-md-5 col-lg-6 aboutus-testimonial">
                                <div class="carousel testimonial_cr slide" id="testimonial_cr" data-interval="4000" data-ride="carousel">
                                    <ol class="carousel-indicators hidden-sm-down">
                                        {{# testimonials }}
                                            <li data-slide-to="{{count}}" data-target="#testimonial_cr" class="{{#active}}active{{/active}}"></li>
                                        {{/ testimonials}}
                                    </ol>

                                    <div class="carousel-inner" role="listbox">
                                        {{# testimonials }}
                                          <div class="carousel-item align-items-center bg-grey-200 {{#active}}active{{/active}}">
                                            <div class="text-center">
                                                <div class="overlay-panel vertical-align">
                                                    <div class="vertical-align-middle">
                                                      {{# image }}
                                                      <a class="avatar avatar-100 bg-white mb-10 m-xs-0 img-bordered" href="javascript:void(0)">
                                                        <img src="{{ image }}" alt="">
                                                      </a>
                                                      {{/ image }}
                                                      {{# name }} <div class="font-size-20 grey-600">{{ name }}</div> {{/ name }}
                                                      {{# designation }} <div class="font-size-14 grey-700">{{ designation }}</div> {{/ designation }}
                                                      {{# text }}
                                                        <div class="font-size-14 grey-600 pt-20">{{#shortentext}} 250, {{{ text }}} {{/shortentext}} </div>
                                                      {{/ text }}
                                                    </div>
                                                </div>
                                            </div>
                                          </div>
                                        {{/ testimonials }}

                                        <a class="carousel-control-prev" href="#testimonial_cr" role="button" data-slide="prev">
                                          <span class="carousel-control-prev-icon wb-chevron-left" aria-hidden="true"></span>
                                          <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#testimonial_cr" role="button" data-slide="next">
                                          <span class="carousel-control-next-icon wb-chevron-right" aria-hidden="true"></span>
                                          <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {{/ both }}

                        {{^ both }}
                            {{# about }}
                                <div class="col-10 text-center p-70">
                                    {{# aboutus_heading }} <h3>{{ aboutus_heading }}</h3> {{/ aboutus_heading }}
                                    {{# aboutus_desc }} {{{ aboutus_desc }}} {{/ aboutus_desc }}
                                </div>
                            {{/ about }}

                            {{# test }}
                                <div class="col-10 aboutus-testimonial">
                                    <div class="carousel testimonial_cr slide" id="testimonial_cr" data-interval="4000" data-ride="carousel">
                                        <ol class="carousel-indicators hidden-sm-down">
                                            {{# testimonials }}
                                                <li data-slide-to="{{count}}" data-target="#testimonial_cr" class="{{#active}}active{{/active}}"></li>
                                            {{/ testimonials}}
                                        </ol>

                                        <div class="carousel-inner" role="listbox">
                                            {{# testimonials }}
                                              <div class="carousel-item align-items-center {{#active}}active{{/active}}">
                                                <div class="text-center">
                                                    <div class="overlay-panel vertical-align">
                                                        <div class="vertical-align-middle">
                                                          {{# image }}
                                                          <a class="avatar avatar-100 bg-white mb-10 m-xs-0 img-bordered" href="javascript:void(0)">
                                                            <img src="{{ image }}" alt="">
                                                          </a>
                                                          {{/ image }}
                                                          {{# name }} <div class="font-size-20 grey-600">{{ name }}</div> {{/ name }}
                                                          {{# designation }} <div class="font-size-14 grey-700">{{ designation }}</div> {{/ designation }}
                                                          {{# text }}
                                                            <div class="font-size-14 grey-600 pt-20">{{#shortentext}} 250, {{{ text }}} {{/shortentext}} </div>
                                                          {{/ text }}
                                                        </div>
                                                    </div>
                                                </div>
                                              </div>
                                            {{/ testimonials }}

                                            <a class="carousel-control-prev" href="#testimonial_cr" role="button" data-slide="prev">
                                              <span class="carousel-control-prev-icon wb-chevron-left" aria-hidden="true"></span>
                                              <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="carousel-control-next" href="#testimonial_cr" role="button" data-slide="next">
                                              <span class="carousel-control-next-icon wb-chevron-right" aria-hidden="true"></span>
                                              <span class="sr-only">Next</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {{/ test }}
                        {{/ both }}

                    </div>
                </div>
                {{/ testimoniallist }}
                <!-- about us ends -->

                <!-- blog -->
                {{# blog }}
                {{# hasblogs }}
                <div class="container-wrapper bg-grey-100 pt-10">
                    <div class="container">
                        <h2 class="blue-grey-600">Blog</h2>
                        <div class="row blog">
                            {{# blogs }}
                            <div class="col-md-4 col-sm-6 recent-item">
                                <div class="card card-transparent">
                                    <div class="card-block">
                                      <div class="card-content">
                                        <h4 class="card-title mt-10"><a href="{{ link }}" class="font-weight-400 blue-grey-600">{{ subject }}</a></h4>
                                        <p class="card-text">
                                          <small>By {{ firstname }} {{ lastname }}, on {{ createdat }}</small>
                                        </p>
                                        <p class="card-text">{{ summary }}</p>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            {{/ blogs }}
                        </div>
                    </div>
                </div>
                {{/ hasblogs }}
                {{/ blog }}
                <!-- blog ends -->

            </div>
        </div>
    {{> theme_remui/common_end }}

{{#js}}
require(['theme_remui/loader', 'theme_remui/slick'], function () {
  Breakpoints();

    // Example Slick Responsive Display
    // --------------------------------
    jQuery('.slick-course-slider').slick({
      dots: true,
      arrows: false,
      infinite: true,
      speed: 500,
      slidesToShow: 4,
      slidesToScroll: 4,
      responsive: [{
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3
          }
        }, {
          breakpoint: 800,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        }, {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
      ]
    });
});
{{/js}}
