
<div id="recent_assignments">
  {{# hasrecentassignments }}
    <div class="card card-shadow h-350" data-name="recentassignments" style="overflow-y: hidden;">
      <div class="card-header card-header-transparent pt-20 pb-0">
        <h5 class="page-aside-title p-0 py-10 m-0"><i class="fa fa-book" aria-hidden="true"></i> {{#str}}assignmentstobegraded, theme_remui{{/str}}</h5>
      </div>
      <div class="divScroll">
      <div data-role="container">
      <div data-role="content">
      <div class="widget-content tab-content bg-white p-20">
      {{# recentassignments }}
        <a href="{{ cm_url }}" class="list-group-item">
          <span>
            {{#str}}activity, moodle{{/str}} : {{ cm_name }}
          </span>
          <br>
          <span class="text-muted">
            {{#str}}course, moodle{{/str}} : {{ course_fullname }}
          </span>
        </a>
      {{/ recentassignments }}
      </div>
      </div>
      </div>
      </div>
    </div>
  {{/ hasrecentassignments }}
  {{^ hasrecentassignments }}
    <div class="card card-shadow h-350" data-name="recentfeedback" style="overflow-y: hidden;">
      <div class="card-header card-header-transparent pt-20 pb-0">
        <h5 class="page-aside-title p-0 py-10 m-0"><i class="fa fa-book" aria-hidden="true"></i> {{#str}}recentfeedback, theme_remui{{/str}}</h5>
      </div>
      {{# hasrecentfeedback }}
      <div class="divScroll">
      <div data-role="container">
      <div data-role="content">
      <div class="box-body table-responsive">
        <table class="table table-hover">
          <tbody>
            <tr>
              <th>{{#str}}course{{/str}}</th>
              <th>{{#str}}activity{{/str}}</th>
              <th>{{#str}}grade{{/str}}</th>
              <th>{{#str}}time{{/str}}</th>
            </tr>
            {{# recentfeedback }}
            <tr>
              <td><a href="{{ courseurl }}" style="text-decoration: none;">{{ course_shortname }}</a></td>
              <td><a href="{{ assignurl }}" style="text-decoration: none;">{{ grade_itemname }}</a></td>
              <td>{{ grade_rawgrade }} / {{ grade_rawgrademax }}</td>
              <td>
                <span class="text-info">
                  <i class="fa fa-clock-o"></i>
                  {{#userdate}} {{ timemodified }}, %d %B %Y, %I:%M %p {{/userdate}}
                </span>
              </td>
            </tr>
            {{/ recentfeedback }}
          </tbody>
        </table>
      </div>
      </div>
      </div>
      </div>
      {{/ hasrecentfeedback }}
      {{^ hasrecentfeedback }}
        <div class="widget-content tab-content bg-white p-20">
          {{#str}}norecentfeedback, theme_remui{{/str}}
        </div>
      {{/ hasrecentfeedback }}
    </div>
  {{/ hasrecentassignments }}
</div>
