
<div id="recent_active_forum">
    <div class="card card-shadow h-350" style="overflow-y: hidden;">
      <div class="card-header card-header-transparent pt-20 pb-0">
        <h5 class="page-aside-title p-0 py-10 m-0"><i class="fa fa-microphone" aria-hidden="true"></i> {{#str}}recentlyactiveforums, theme_remui{{/str}}</h5>
      </div>
      <div class="divScroll">
      <div data-role="container">
      <div data-role="content">
      <div class="widget-content tab-content bg-white p-20">

      {{# recentforums }}
        <a href="{{# content }}{{ config.wwwroot }}/mod/forum/discuss.php?d={{ discussion }}#p{{ id }}{{/ content }}" class="list-group-item">
          {{ forumname }}
          <span class="pull-right text-info">
            <i class="fa fa-clock-o"></i> {{#str}}startedsince, theme_remui{{/str}} {{#userdate}} {{ timestamp }}, %A, %d %B %Y {{/userdate}}
          </span>
          <p class="text-muted">
                {{#str}}course{{/str}} : {{ courseshortname }}
            </p>
        </a>
      {{/ recentforums }}
      {{^ recentforums }}
        {{#str}}norecentlyactiveforums, theme_remui{{/str}}
      {{/ recentforums }}

      </div>
      </div>
      </div>
      </div>
    </div>
</div>
