body {
	font-size: .8375rem;
}
#page-course-view-remuiformat.pagelayout-course .container-fluid #region-main .card > .card-body:first-of-type {
    background: #fff;
}
.view-overview-body .btn {
	color: $body-color !important;
}
.message-app {
	background: #fff;
	.card-header {
		background-color: $gray-400;
		border-bottom: none;
	}
	.footer-container .btn {
		color: $body-color !important;
	}
}

.wdm-card {
	box-shadow: none !important;
	border: 1px solid $gray-400 !important;
	border-radius: 5px !important;
}

.nav-tabs {
	border: none;
	border-bottom: 1px solid $gray-400 !important;
	.nav-link {
		color: $gray-600;
		border: none;
		&.active, &:hover {
			color: $headings-color;
			border: none;
			background-color: transparent;
			border-bottom: 2px solid $primary !important;
		}	
	}
}

li.activity-list-alan {
	&:hover {
		background: $gray-100;
  	}
}

ul.remui-format-list {
	h4.sectionname {
		font-size: $font-size-xl;
		font-weight: 600;
		a {
			color: $headings-color;
		}
	}
}	

#nav-drawer {
	.list-group {
        .list-group-item {
			 a {
				&:before {
					content: "\e034";
				}
			 }
            &[data-key="back"] a:before {
                content: "\e605";
            }			 
		}
	}	
	.list-group + .list-group {
		border-top: none !important;
	}
}

.course-page-alan {
	.text-muted {
		color: $body-color !important;
	}
	h4, h2 {
		font-weight: 600;
	}
	.progress {
		height: 10px;
	}
	h4.sectionname {
		font-size: 1.6rem;
	}
	.progress-status {
		color: #fff;
		border-radius: 5px;
		padding: 3px 5px;
	}
	.course-info-alan {
		-webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
		box-shadow: 0 5px 20px rgba(0, 0, 0, .1);	
		border-radius: 5px;
		ul {
			list-style: none;
			padding: 0;
			li {
				font-weight: 600;
				color: $headings-color;
				border-bottom: 1px solid $gray-400;
				.text-right {
					font-weight: normal;
					color: $body-color;
				}
				&:last-child{
					border-bottom: none;
				}
			}
		}
	}
	.nav-link {
		font-weight: 900;
		font-size: 1.2rem;
	}
	.instancename {
		color: $gray-600;
	}
}


.bg-black {
	background: #111111 !important;
}
.btn-bbb {
	input {
		width: 100%;
	}
}