.course-category-main {
	border: none !important;
	overflow: hidden !important;
	.h-200 {
		height: 200px!important;
	}
	.card-block {
		position: relative;
		padding: 1.429rem;
		-webkit-box-flex: 1;
		-webkit-flex: 1 1 auto;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;		
	}
	.card-footer {
		padding: .858rem 1.429rem;
		background-color: #fff;	
		border-top: none !important;
		.custom-popover {
			color: $primary !important;
			&:hover {
				color: #fff !important;
			}
		}
	}
	.card-footer-transparent {
		background-color: transparent;
	}
	.card {
		.text-course-icon {
			color: $navbar-toggle-drawer;
		}
		.card-underlined{
			border-bottom: 2px solid $navbar-footer-drawer;
		}
		a {
			color: #303030;
		}
		&:hover {
			.card-underlined{
				border-bottom: 2px solid $page-header-bg;
			}
			.text-course-icon {
				color: $page-header-bg;
			}			
			.card-dynamic1{
				.rounded-lg:after {
				  transition: background-color 0.5s ease 0.6s;
				  content: '';
				  position: absolute;
				  top: 0;
				  bottom: 0;
				  left: 0;
				  right: 0;
				  display: block;
				  background-color: rgb(0,0,0,0.7);
				  border-radius: 5px;
				}				
				.btn {
					transition: all 300ms ease;
					display:  inline-block;
				}
			}
		}
		.card-dynamic1 {
			.rounded-lg {
				position: relative;
			}			
			.btn {
				position: absolute;
				top: 74px;
				left: 131px;
				z-index: 1;
				display:  none;
				color: #fff !important;
			}
		
		}
	}
	.search-filters {
		background-color: $gray-300;
		.form-control-lg {
		  height: $input-height-lg !important;
		  padding: $input-padding-y-lg $input-padding-x-lg !important;
		  font-size: $input-font-size-lg !important;
		  line-height: $input-line-height-lg !important;
		}		
		form {
			margin: 0 !important;
		}
		.btn {
			border-radius: 0 !important;
		}
		.btn-outline-primary {
			background: #fff;
		}
	}
	
}
body, #region-main {
	background-color: #fff;
}
a {
	text-decoration: none !important; 
}
#page-header {
    background: $page-header-bg;
    margin-right: -30px;
    margin-left: -30px;
	.card {
		&:first-child{
			background: none;
			h1 {
				color: #fff;
			}
		}
	}
	.dropdown-toggle {
		color: #fff;
	}
}
.card {
	border: none;
}
nav.navbar {
	.drawer-toggle {
		background-color: $navbar-toggle-drawer;
	}
}
#nav-drawer-footer {
	background-color: $navbar-footer-drawer;
}
	
.w-full {
	width: 100%!important;
}
.btn.btn-rounded {
    height: ($icon-width + 20px);
    width: ($icon-width + 20px);
    font-size: $icon-width;
    line-height: $icon-width;
    padding: 0;
    border-radius: 50%;
    flex-shrink: 0;
}	
.tool-item {
	float: left;
	display: block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 20px;
    height: 100%;
    height: 20px;
    padding: 10px;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    text-align: center;
}

//labels and popovers
$all-colors: map-merge($colors,$theme-colors);
@each $color, $value in $all-colors {
	.popover-#{$color}{ 
		.arrow::after { border-top-color: $value}
		.popover-body{ background-color: $value}
		.popover-header{ background-color: $value}
	}
  @include bg-variant(".color-#{$color},.label-#{$color}", $value);
  @include text-emphasis-variant(".text-#{$color}", $value);
}
@each $color, $value in $grays {
	.popover-gray-#{$color}{ 
		.arrow::after { border-top-color: $value}
		.popover-body{ background-color: $value}
		.popover-header{ background-color: $value}
	}
  @include bg-variant(".color-#{$color},.label-gray-#{$color},.bg-gray-#{$color}", $value);
  @include text-emphasis-variant(".text-gray-#{$color}", $value);
}
//= Font sizes
.fz-xs{ font-size: $font-size-xs !important; }
.fz-sm{ font-size: $font-size-sm !important; }
.fz-md{ font-size: $font-size-md !important; }
.fz-lg{ font-size: $font-size-lg !important; }
.fz-xl{ font-size: $font-size-xl !important; }

#nav-drawer-footer .themesettings-control {
    padding: .75rem 0;
    display: block;
    color: #fff;
    cursor: pointer;
}
#nav-drawer-footer .themesettings-control .text {
    display: none;
}
body.drawer-open-left #nav-drawer-footer .themesettings-control .text {
    display: inline-block;
}
@include media-breakpoint-down(sm) {
    body.drawer-open-left {
        #nav-drawer-footer {
            .themesettings-control {
                .text {
                    display: none;
                }
            }
        }
    }
}
#page-navbar {
	.breadcrumb {
		li { 
			margin: 0;
			*, .no-link {
				color: #fff;
				background: none;
				padding: 0 !important;
				border: none;
				text-transform: uppercase !important;
			}
			.no-link::after, a::after, &::after{
				border: none;
			}
			&::before {
				content: "/";
				display: inline-block;
				padding-right: .3rem;
				padding-left: .3rem;
				color: #fff;				
			}
		
			&:first-child{
				&::before {
					content: "";
					padding: 0 !important;
				}
			}
			&:last-of-type>* {
				font-weight: 600;
			}
		}
	}
}
.btn {
	color: #fff !important;
	border-radius: 5px;
}
.btn-default, .btn-outline, .btn-outline-primary {
	color: $body-color !important;
}
.progress {
	background-color: $gray-200;
	border-radius: 3px;
}
*::-webkit-scrollbar{
    width: 7px;
    height: 7px;
}
*::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background: $navbar-bg-hover;
}
*::-webkit-scrollbar-thumb:hover{
    background: $navbar-bg-hover;
}
*::-webkit-scrollbar-track{
    border-radius: 20px;
    background: $navbar-bg;
}	