{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_myoverview/courses-view-course-item

    This template renders the course summary (view by courses) for the myoverview block.

    Example context (json):
    {
        "fullnamedisplay": "course 3",
        "viewurl": "https://www.google.com",
        "summary": "It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout."
    }
}}
<div class="col-lg-6 col-12">
    <div class="media courses-view-course-item">
        <div class="media-body course-info-container" id="course-info-container-{{id}}">
            {{> block_myoverview/progress-chart}}
            <h4 class="mt-0 mb-5 h4"><a href="{{viewurl}}">{{fullnamedisplay}}</a></h5>
            <div class="course-desc mt-10 text-justify">
                {{summary}}
            </div>
        </div>
    </div>
</div>
