{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_myoverview/event-list-group

    This template renders a list of events for the myoverview block.

    Example context (json):
    {
        "events": [
            {
                "enddate": "Nov 4th, 10am",
                "name": "Assignment due 1",
                "url": "https://www.google.com",
                "course": {
                    "fullname": "Course 1"
                },
                "action": {
                    "name": "Submit assignment",
                    "url": "https://www.google.com",
                    "itemcount": 1
                },
                "icon": {
                    "key": "icon",
                    "component": "mod_assign",
                    "alttext": "Assignment icon"
                }
            },
            {
                "enddate": "Nov 4th, 10am",
                "name": "Assignment due 2",
                "url": "https://www.google.com",
                "course": {
                    "fullname": "Course 1"
                },
                "action": {
                    "name": "Submit assignment",
                    "url": "https://www.google.com",
                    "itemcount": 1
                },
                "icon": {
                    "key": "icon",
                    "component": "mod_assign",
                    "alttext": "Assignment icon"
                }
            }
        ]
    }
}}
<div data-region="event-list-group-container"
     data-start-day="{{$startday}}0{{/startday}}"
     data-end-day="{{$endday}}{{/endday}}"
     class="hidden">

    <h5 class="h6 m-t-1 {{$extratitleclasses}}{{/extratitleclasses}}" id="event-list-title-{{uniqid}}"><strong>{{$title}}{{/title}}</strong></h5>
    <ul class="list-group list-group-gap" data-region="event-list" aria-describedby="event-list-title-{{uniqid}}">
        {{$eventlistitems}}
            {{> block_myoverview/event-list-items }}
        {{/eventlistitems}}
    </ul>
</div>
